spring:
  application:
    name: ${APP_NAME:spring-cloud-admin}
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: ${SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_ISSUERURI:http://localhost:8080/}
          jwk-set-uri: ${SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_JWKSETURI:http://localhost:8080/.well-known/jwks.json}
          jws-algorithms: ${SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_JWSALGORITHMS:RS256}
          redirect_uri: ${SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_REDIRECTURI:http://localhost:8080/api/oauth2/callback}
          client_id: ${SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_CLIENTID:changeme}
          client_secret: ${SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_CLIENTSECRET:changeme}
          authorization_endpoint: ${SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_AUTHORIZATIONENDPOINT:http://localhost:8080/oauth/authorize}
          token_endpoint: ${SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_TOKENENDPOINT:http://localhost:8080/oauth/token}
          audience: ${SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_AUDIENCE:http://localhost:8080/api/v2/}
server:
  port: ${PORT:8080}
  servlet:
    context-path: ${SERVER_SERVLET_CONTEXT_PATH:}
eureka:
  instance:
    leaseRenewalIntervalInSeconds: 30
    health-check-url-path: /actuator/health
    prefer-ip-address: true
  client:
    registryFetchIntervalSeconds: 5
    serviceUrl:
      defaultZone: ${EUREKA_SERVICE_URL:http://localhost:8761/eureka/}
management:
  server:
    port: ${MANAGEMENT_PORT:8080}
  info:
    env.enabled: true
    java.enabled: true
    os.enabled: true
    process.enabled: true
    git.enabled: true
    git.mode: full
  endpoints:
    jmx.exposure.include: "*"
    web:
      exposure.include: "*"
      cors:
        allowed-origins: ${MANAGEMENT_CORS_ALLOWED_ORIGINS:*}
        allowed-methods: ${MANAGEMENT_CORS_ALLOWED_METHODS:*}
        max-age: ${MANAGEMENT_CORS_ALLOWED_MAXAGE:3600}
  endpoint:
    health:
      show-details: always
      show-components: always
    env:
      show-values: always
    configprops:
      show-values: always