server:
  port: ${PORT:8080}
  servlet:
    context-path: ${SERVER_SERVLET_CONTEXT_PATH:}
eureka:
  instance:
    leaseRenewalIntervalInSeconds: 30
    health-check-url-path: /actuator/health
    prefer-ip-address: true
    metadata-map:
      username: ${spring.security.user.name}
      password: ${spring.security.user.password}
  client:
    registryFetchIntervalSeconds: 5
    serviceUrl:
      defaultZone: ${EUREKA_SERVICE_URL:http://localhost:8761/eureka/}
management:
  info:
    env:
      enabled: true
    java:
      enabled: true
  endpoints:
    web:
      exposure:
        include: "health,metrics,info,serviceregistry"
    jmx:
      exposure:
        include: "health,metrics,info,serviceregistry"
  endpoint:
    health:
      show-details: ALWAYS
      show-components: ALWAYS
  server:
    port: ${MANAGEMENT_PORT:8180}
spring:
  application:
    name: ${APP_NAME:spring-cloud-admin}
  security:
    user:
      name: ${SPRING_SECURITY_USER_NAME:sysadmin}
      password: ${SPRING_SECURITY_USER_PASSWORD:sysadmin}
